html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 100%;
    font-style: "Open Sans";
  }
}

body {
  font-family: "Open Sans", sans-serif;
  align-items: center;
  background: black;
  color: white;
  height: 100vh;
  text-align: center;
  flex-wrap: wrap;
  font-size: 16px;

  @include desktop {
    text-align: left;
  }
  @include tablet {
    text-align: center;
  }
}

.loader {
  background: center no-repeat;
  position: fixed;
  position: absolute;
  width: 80%;
  height: 25%;
  left: 10%;
  z-index: 20;
}

@include desktop {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}

.news {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

  article {
    flex-basis: 100%;
    position: relative;
    @include tablet {
      p {
        width: 50%;
      }
    }
    @include desktop {
      flex-basis: 25%;
      height: auto;
    }

    img {
      background-position: cover;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      max-height: auto;
      flex-wrap: wrap;
    }
  }
}
