header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15%;

  @include desktop {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
.small-header {
  padding-right: 10px;
}

h2 {
  font-family: "Open Sans";
  font-size: 14px;
  color: white;
  text-decoration: none;
  position: absolute;
  text-align: left;
  bottom: -12px;
  padding-left: 6%;
  @include desktop {
    align-content: center;
    padding-right: 10%;
  }
}
