header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  height: 80vh;

  select{
    font-size: 1.1rem;
  }
  
  @include desktop {
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: left;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 220px;
    
  }
}
.small-header {
 height: 235px;
 flex-flow: column nowrap;
 justify-content: flex-start;
 align-items: center;
 @include tablet {
  flex-flow: column nowrap;
}
@include desktop {
  flex-flow: row nowrap;
}
.logo{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  img{
    //
    width: 50%;
    height: 50%;
    align-content: center;
    @include tablet {
    }
    @include desktop {

    }
  }
}


}




