header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15%;

  @include desktop {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}
.small-header {
  padding-top: 0;
 
  img{
    width: 50px;
  }
}

h2 {
  font-family: "Open Sans";
  font-size: 1rem;
  color: white;
  text-decoration: none;
  position: absolute;
  text-align: left;
  bottom: -13px;
  padding-left: 6%;
  background: rgba(0,0,0,.6);
  padding: .5rem;
  width: 100%;
  @include desktop {
    align-content: center;
    padding-right: 10%;
  }
}
